<div class="template-container">
    <h1>{{ componentName }}</h1>
    <p>{{ componentDescription }}</p>

    @for (item of codeBlock; track $index) {
    <section class="code-section">
        <h3>{{ item.title }}</h3>
        <app-code-block [componentCode]="item.code" [language]="item.language"></app-code-block>
    </section>
    }

    <section class="try-yourself">
        <h3>Tente você mesmo</h3>
        <div class="dynamic-component">
            <div #dynamicComponent></div>
        </div>
        <div class="controls">
            <button *ngIf="showButtonReset" pButton label="Reset" icon="pi pi-refresh" (click)="reset()"></button>
            <button *ngIf="showDisabled" pButton label="Disable" icon="pi pi-ban" (click)="toggleDisable()"></button>
            <button *ngIf="showRequired" pButton label="Required" icon="pi pi-exclamation-triangle"
                (click)="toggleRequired()"></button>
        </div>
        <h3>Estado do compomente</h3>
        <div class="json-container" appJsonHighlight [jsonData]="componentState"></div>
    </section>

    <section *ngIf="showProperties">
        <h1>Properties</h1>
        <p class="mb-1">Defines the input properties of the component.</p>
        <p-table [columns]="colsProperties" [value]="properties" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        @switch (col.field) {
                        @case ('name') {
                        <p-tag> {{ rowData[col.field] }}</p-tag>
                        }
                        @case ('default') {
                        <h3>{{ rowData[col.field] }}</h3>
                        }
                        @default {
                        {{ rowData[col.field] }}
                        }
                        }
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </section>
    <section *ngIf="showEmitters">
        <h1>Emitters</h1>
        <p class="mb-1">
            Defines emit that determine the behavior of the component based on a given condition or report the actions
            that the component takes.
        </p>
        <p-table [columns]="colsEmitters" [value]="emitters" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        @switch (col.field) {
                        @case ('name') {
                        <p-tag> {{ rowData[col.field] }}</p-tag>
                        }
                        @default {
                        {{ rowData[col.field] }}
                        }
                        }
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </section>
</div>