h1 {
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 0.1px #9E9E9E;
}

h3 {
  font-weight: bold;
  margin-bottom: 0px !important;
  line-height: 0.5 !important;
}

p {
  font-size: 1.25rem;
  text-shadow: 1px 1px 0.1px #9E9E9E;
  margin-bottom: 3rem;
}

.code-section {
  margin-bottom: 3rem;
}

.try-yourself {
  margin-bottom: 25px !important;
}

.dynamic-component {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 30px !important;
}

.json-container {
  margin-top: 7px;
  background-color: #272a36;
  padding: 15px;
  border-radius: 8px;
  color: #ffffff;
  white-space: pre-wrap;
  font-weight: bold;
}

::ng-deep tbody td {
  padding-block: .75rem;
  padding-inline: 1rem;
  border-bottom: 1px solid #ccc;
  white-space: pre-line;
  line-height: 1.5;
  scroll-margin-top: 6.5rem;
}

::ng-deep th {
  background-color: #ffffff00 !important;
  border-bottom: 1px solid #ccc;
  padding-block: .75rem;
  padding-inline: 1rem;
  text-align: start;
  text-transform: capitalize;
}

::ng-deep .p-datatable-thead>tr>th {
  background: #ffffff00 !important;
  color: #000000 !important;
  font-weight: bold !important;
}

::ng-deep .p-datatable-tbody>tr {
  background: #ffffff00 !important;
  color: #000000 !important;
}

.template-container {
  margin-bottom: 1rem !important;
  background-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png),
    linear-gradient(45deg, rgba(0, 0, 0, 0.112), rgba(255, 255, 255, 0.129));
  background-blend-mode: multiply, screen;
}