@import '../style/typography.scss';
@import 'spacing.scss';
@import 'radius.scss';

* {
  font-family: $font-family-Roboto;
  font-size: var(--body-font-size-default);
  font-weight: var(--body-font-weight-300);
  line-height: var(--body-line-height);
}

.box {
  padding-top: $space-default;;
  padding-bottom: $space-default;;
  border-radius: $radius-medium;
  margin: $space-default;
}

.container {
  display: block;
  margin: 8px;
}

.text-small {
  font-size: var(--body-font-size-default);
  font-family: $font-family-Roboto;
  font-weight: var(--body-font-weight-100);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}


.text-default {
  font-size: var(--body-font-size-default);
  font-family: $font-family-Roboto;
  font-weight: var(--body-font-weight-bolder);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.text-medium {
  font-size: var(--body-font-size-medium);
  font-family: $font-family-Roboto;
  font-weight: var(--body-font-weight-500);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.text-large {
  font-size: var(--body-font-size-big);
  font-family: $font-family-Roboto;
  font-weight: var(--body-font-weight-bolder);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height-big);
}

.text-large-big {
  font-size: var(--body-font-size-xbig);
  font-family: $font-family-Roboto;
  font-weight: var(--body-font-weight-bolder);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.text-large-huge {
  font-size: var(--body-font-size-huge);
  font-family: $font-family-Roboto;
  font-weight: var(--body-font-weight-bolder);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}


label {
  font-weight: bold;
}

.err-small {
  color: var(--p-danger-color);
}


input {
  height: 50px;
}

.h-full {
  height: 52px !important;
}

.inputIconTop {
  top: 45% !important;
}

.pi-spin {
  animation-duration: 1s;
}