<div [class.mobile-mode]="isMobileMode">
    <aside class="sidebar">
        <div class="sidebar-header flex align-items-center">
            <img src="image/az-logo.png" alt="logo" />
            <span class="text-3xl font-bold lilita-one-regular">Job</span>
        </div>
        <ul class="sidebar-links">

            <!--<li>
                <div class="col">
                    <app-input-search [formControl]="formControl" title='Procurar'
                        erroFill='O nome deve ter no mínimo 2 caracteres.' erroRequired='O seu nome é obrigatório.'
                        [minLength]='2'></app-input-search>
                </div>
            </li>-->
            <li>
                <a href="#" class="search-icon">
                    <span class=" text-3xl">
                        <i class="pi pi-search black text-2xl font-bold"
                            style="margin-left: 2px; color: var(--p-background-color-inverse)"></i>
                    </span>Pesquisar</a>
            </li>
            <li>
                <a href="#" class="active">
                    <span class="active rounded-icon text-3xl ">home</span>
                    <span class="active font-bold">Para Você </span>
                </a>
            </li>
            <li>
                <a href="#"><span class="outlined-icon text-3xl">add_box</span>Candidaturas</a>
            </li>
            <li>
                <a href="#"><span class="outlined-icon text-3xl">rocket_launch</span>Minha Empresa</a>
            </li>
            <li>
                <a href="#"><span class="outlined-icon text-3xl">rewarded_ads</span>Currículo</a>
            </li>
            <li>
                <a href="#"><span class="outlined-icon text-3xl">notifications</span>Notificações</a>
            </li>
            <li>
                <a (click)="toggleMobile()"><span class="outlined-icon text-3xl">more_horiz</span>Mais</a>
            </li>
        </ul>
        <div class="user-account hidden">
            <div class="user-profile">
                <div class="user-detail">
                    <div>Empresa</div>
                    <span>{{texty}}</span>
                </div>
            </div>
        </div>
    </aside>
</div>