<div [class.mobile-mode]="isMobileMode">
    <aside class="sidebar z-full">
        <div class="sidebar-header flex align-items-center cursor-pointer" [routerLink]="['/']"
            (click)="goToToggle('empyty')">
            <img src="image/az-logo.png" alt="logo" />
            <span class="text-4xl font-bold lilita-one-regular">Job</span>
        </div>
        <ul class="sidebar-links">
            <li [class.active-link]="'search' == toggle.key" class="cursor-pointer">
                <a class="search-icon" (click)="goToToggle('search')">
                    <span class=" text-3xl">
                        <i class="pi pi-search black text-2xl font-bold" style="margin-left: 2px;">
                        </i>
                    </span>
                    Pesquisar
                </a>
            </li>
            <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
                [class.inactive-link]="activeDrawer">
                <a [routerLink]="'/'" (click)="goToToggle('empyty')">
                    <span class="active rounded-icon text-3xl ">home</span>
                    <span class="active font-bold">Para Você </span>
                </a>
            </li>
            <li routerLinkActive="active-link" class="cursor-pointer" [routerLinkActiveOptions]="{ exact: true }"
                [class.inactive-link]="activeDrawer">
                <a [routerLink]="'/showcase'" (click)="goToToggle('empyty')"><span
                        class="outlined-icon text-3xl">radio_button_checked</span>Candidaturas</a>
            </li>
            <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
                [class.inactive-link]="activeDrawer">
                <a (click)="goToToggle('empyty')"><span class="outlined-icon text-3xl">rocket_launch</span>Minha
                    Empresa</a>
            </li>
            <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
                [class.inactive-link]="activeDrawer">
                <a (click)="goToToggle('empyty')"><span class="outlined-icon text-3xl">rewarded_ads</span>Currículo</a>
            </li>
            <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
                [class.inactive-link]="activeDrawer">
                <a (click)="goToToggle('empyty')"><span
                        class="outlined-icon text-3xl">notifications</span>Notificações</a>
            </li>
            <li [class.active-link]="'plus-preferences' == toggle.key" class="cursor-pointer">
                <a (click)="goToToggle('plus-preferences')"><span
                        class="outlined-icon text-3xl">more_horiz</span>Mais</a>
            </li>
        </ul>
        <div class="header-menu hidden hover:bg-gray-100 border-round p-2 m-2 cursor-pointer"
            (click)="op.toggle($event)">
            <div class="header-detail">
                <img src="image/user-default.png" alt="Avatar do usuário" class="avatar" />

                <div>
                    <div class="user-name">Saulo McChelsom</div>
                    <span class="user-role">{{ texty }}</span>
                </div>
            </div>
        </div>
        <p-popover #op class="  z-full2">
            <ul class="sidebar-links z-full2">
                <li class="cursor-pointer" (click)="selectMember()">
                    <a class="p-3">Informações da conta</a>
                </li>
                <li class="cursor-pointer" (click)="selectMember()">
                    <a class="p-3">Log out {{ texty }}</a>
                </li>
            </ul>
        </p-popover>
    </aside>
</div>

<p-drawer #drawerRef [(visible)]="visible" position="left" [modal]="true" [closable]="false" (onHide)="aoClicarFora()"
    transitionOptions="500ms cubic-bezier(0, 0, 0.2, 1)" [baseZIndex]="0" [dismissible]="true" [autoZIndex]="true">
    <ng-template #header>

        <div class="flex items-center align-items-center gap-2">
            @if(toggle?.section !== null){
            <p-button [disabled]="currentStep > 0 ? false : true" (click)="goBack()" icon="pi pi-arrow-left"
                [rounded]="true" [text]="true" severity="primary" styleClass="button-arrow-primary "
                [class.opacity-less]="currentStep > 0 ? false : true" />
            }
            <span class="font-bold text-2xl title-header">
                @if(selectedMenu){
                {{ selectedMenu.name }}
                }@else{
                {{ selectedSection?.name || toggle.name}}
                }
            </span>
        </div>
        <p-button (click)="closeCallback($event)" icon="pi pi-times" [rounded]="true" severity="primary"
            styleClass="custom-size-small">
        </p-button>
    </ng-template>

    <div class="stepper-container">
        <!-- Etapa 0: Seções -->
        <div *ngIf="currentStep === 0" class="step-content">
            @for ( section of toggle.section; track section; let i = $index) {
            <div class="flex hover:bg-gray-100 border-round p-2 cursor-pointer" (click)="goToSection(section)">
                <div class="col-11 m-0 p-0">
                    <div class="grid m-0">
                        <div class="col-12 m-0 p-0">
                            <div class="text-left pt-1 font-bold">{{ section.name }}</div>
                        </div>
                        <div class="col-12 m-0 p-0">
                            <div class="text-left p-0">{{ section.description }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-1 m-0 p-0">
                    <div class="flex justify-content-end align-items-center p-0 h-full">
                        <i class="pi pi-chevron-right" style="font-size: 1rem"></i>
                    </div>
                </div>
            </div>
            }
        </div>

        <!-- Etapa 1: Menus -->
        <div *ngIf="currentStep === 1" class="step-content">
            @for ( menu of selectedSection.menu; track $index) {
            <div class="flex hover:bg-gray-100 border-round p-2 cursor-pointer" (click)="goToMenu(menu)">
                <div class="col-1 m-0 p-0">
                    <div class="flex justify-content-start align-items-center p-0 h-full">
                        <span class="outlined-icon text-2xl">{{menu.icon}}</span>
                    </div>
                </div>
                <div class="col-10 m-0 xl:p-0 lg:p-0 md:p-0 sm:p-2 ">
                    <div class="grid m-0">
                        <div class="col-12 m-0 p-0">
                            <div class="text-left pt-1 font-bold">{{ menu.name }}</div>
                        </div>
                        <div class="col-12 m-0 p-0">
                            <div class="text-left p-0">{{ menu.description }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-1 m-0 p-0">
                    <div class="flex justify-content-end align-items-center p-0 h-full">
                        <i class="pi pi-chevron-right" style="font-size: 1rem"></i>
                    </div>
                </div>
            </div>
            }
        </div>
        <!-- Etapa 2: Conteudo Dinâmico Componente, Link ou Texto -->
        <div [hidden]="!(currentStep == 2) && selectedSection?.component" class="step-content">
            <div #dynamicComponent></div>
        </div>
        <div *ngIf="currentStep === 2 && selectedSection?.text" class="step-content">
            {{ selectedSection.text }}
        </div>
        <div *ngIf="currentStep === 2 && selectedSection?.routerLink" class="step-content">
            <div class="flex hover:bg-gray-100 bg-gray-50 border-round p-2 cursor-pointer"
                (click)="linkClick(selectedSection.routerLink, $event)">
                <div class="col-11 m-0 p-0">
                    <div class="m-0 p-0 pl-2 flex justify-content-start align-items-center pt-1 font-bold h-full">
                        {{ selectedSection.routerLink.label }}
                    </div>
                </div>
                <div class="col-1 m-0 p-0">
                    <div class="flex justify-content-center align-items-center p-0 h-full">
                        <span class="outlined-icon text-3xl">arrow_outward</span>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div [hidden]="!(currentStep == 2) && selectedMenu?.component" class="step-content">
            <div #dynamicComponent></div>
        </div>
        <div *ngIf="currentStep === 2 && selectedMenu?.text" class="step-content">
            {{ selectedMenu.text }}
        </div>
        <div *ngIf="currentStep === 2 && selectedMenu?.routerLink" class="step-content">
            <div class="flex hover:bg-gray-100 bg-gray-50 border-round p-2 cursor-pointer"
                (click)="linkClick(selectedMenu.routerLink, $event)">
                <div class="col-11 m-0 p-0">
                    <div class="m-0 p-0 pl-2 flex justify-content-start align-items-center pt-1 font-bold h-full">
                        {{ selectedMenu.routerLink.label }}
                    </div>
                </div>
                <div class="col-1 m-0 p-0">
                    <div class="flex justify-content-center align-items-center p-0 h-full">
                        <span class="outlined-icon text-3xl">arrow_outward</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Etapa 3: Conteudo Dinâmico Componente, Link ou Texto -->
        <div [hidden]="!(currentStep == -1) && toggle?.component" class="step-content">
            <div #dynamicComponent></div>
        </div>
        <div *ngIf="currentStep === -1 && toggle?.text" class="step-content">
            {{ toggle.text }}
        </div>
        <div *ngIf="currentStep === -1 && toggle?.routerLink" class="step-content">
            <div class="flex hover:bg-gray-100 bg-gray-50 border-round p-2 cursor-pointer"
                (click)="linkClick(toggle.routerLink, $event)">
                <div class="col-11 m-0 p-0">
                    <div class="m-0 p-0 pl-2 flex justify-content-start align-items-center pt-1 font-bold h-full">
                        {{ toggle.routerLink.label }}
                    </div>
                </div>
                <div class="col-1 m-0 p-0">
                    <div class="flex justify-content-center align-items-center p-0 h-full">
                        <span class="outlined-icon text-3xl">arrow_outward</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-drawer>