<div class="template-container">
  <h1>{{ componentName }}</h1>
  <p>{{ componentDescription }}</p>


  @for (item of codeBlock; track $index) {
  <section class="code-section">
    <h3>{{ item.title }}</h3>
    <app-code-block [componentCode]="item.code" [language]="item.language"></app-code-block>
  </section>
  }

  <section class="try-yourself">
    <h3>Tente você mesmo</h3>
    <div class="dynamic-component">
      <div #dynamicComponent></div>
    </div>
    <div class="controls">
      <button pButton label="Reset" icon="pi pi-refresh" (click)="reset()"></button>
      <button pButton label="Disable" icon="pi pi-ban" (click)="toggleDisable()"></button>
      <button pButton label="Required" icon="pi pi-exclamation-triangle" (click)="toggleRequired()"></button>
    </div>
    <h3>Estado do compomente</h3>
    <div class="json-container" appJsonHighlight [jsonData]="componentState"></div>
  </section>
</div>