<app-header></app-header>
<div class="flex align-content-between flex-wrap min-h-screen">
    <div class="flex align-items-center justify-content-center w-full">
        <div class="bg-gray-0 p-4 mt-7 shadow-0 border-round w-full sm:w-30rem">
            <div class="text-center mb-5">
                <div class="text-900 text-4xl font-medium mb-2">Que bom que você voltou</div>
            </div>
            <form>
                <div class="field mb-4">
                    <app-input-primary [formControl]="emailFormControl" [title]="emailFormOption.title"
                        [erroFill]="emailFormOption.erroFill" [erroRequired]="emailFormOption.erroRequired"
                        [isRequired]="emailFormOption.isRequired" [isDisabled]="emailFormOption.isDisabled"
                        [minLength]="emailFormOption.minLength"
                        [maxLength]="emailFormOption.maxLength"></app-input-primary>
                </div>
                <div class="field mb-4">
                    <app-input-primary [formControl]="senhaFormControl" [title]="senhaFormOption.title"
                        [erroFill]="senhaFormOption.erroFill" [erroRequired]="senhaFormOption.erroRequired"
                        [isRequired]="senhaFormOption.isRequired" [isDisabled]="senhaFormOption.isDisabled"
                        [minLength]="senhaFormOption.minLength"
                        [maxLength]="senhaFormOption.maxLength"></app-input-primary>
                </div>
                <p-button label="Entrar na sua conta" severity="primary" styleClass="w-full custom-h-full " />
            </form>
            <div class="mt-5">
                <span class="font-bold cursor-pointer" [routerLink]="resetPasswordRouterLink">Esqueceu a senha?</span>
            </div>
        </div>
    </div>

    <div class="col-12 p-0 m-0">
        <app-footer [link]="signUpRouterLink" text="Não tem uma conta?" redirectText="Inscreva-se"></app-footer>
    </div>
</div>