<div class="flex align-content-between flex-wrap min-h-screen">
    <app-header></app-header>
    <div class="flex align-items-center justify-content-center w-full">
        <div>
            <div class="pl-4 pr-4 w-full sm:w-30rem w-25rem">
                <div class="text-center mb-5">
                    <div class="text-4xl font-medium mb-2">Entrar</div>
                </div>
                <div class="mb-3">
                    <app-input-email [formControl]="emailControl" [title]="emailOption.title"
                        [erroFill]="emailOption.erroFill" [erroRequired]="emailOption.erroRequired"
                        [isRequired]="emailOption.isRequired" [isDisabled]="emailOption.isDisabled"
                        [minLength]="emailOption.minLength" [maxLength]="emailOption.maxLength"
                        [hasErrorResponse]="emailOption.hasErrorResponse"></app-input-email>
                </div>
                <div class="mb-4">
                    <app-input-password [formControl]="passwordControl" [title]="passwordOption.title"
                        [erroFill]="passwordOption.erroFill" [erroRequired]="passwordOption.erroRequired"
                        [isRequired]="passwordOption.isRequired" [isDisabled]="passwordOption.isDisabled"
                        [minLength]="passwordOption.minLength" [maxLength]="passwordOption.maxLength"
                        [hasErrorResponse]="passwordOption.hasErrorResponse"></app-input-password>
                </div>
                <div class="mb-3">
                    <div class="w-full">
                        <p-button [disabled]=" isDisabled" [appLoadingSpinner]="isLoading" label="Entrar na sua conta"
                            severity="primary" styleClass="w-full custom-h-full " (onClick)="validarForm()">
                        </p-button>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="w-full">
                        <span class="font-bold cursor-pointer" [routerLink]="resetPasswordRouterLink">Esqueceu a
                            senha?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 p-0 m-0">
        <app-footer [showTextPrivacyAndPolicy]="false" [link]="signUpRouterLink" text="Não tem uma conta?"
            redirectText="Inscreva-se"></app-footer>
    </div>
</div>