<div class="flex align-content-between flex-wrap min-h-screen">
    <app-header></app-header>
    <div class="flex align-items-center justify-content-center w-full">
        <div>
            <div class="pl-4 pr-4 w-full sm:w-30rem w-25rem">
                <div class="text-center mb-5">
                    <div class="text-4xl font-medium mb-2">Redefinir senha</div>
                </div>
                <p-stepper [(value)]="activeStep" class="basis-[40rem]">
                    <p-step-panels>
                        <p-step-panel [value]="1">
                            <ng-template #content let-activateCallback="activateCallback">
                                <div class="mb-3">
                                    <div class="w-full">
                                        <app-input-email [formControl]="emailControl" [title]="emailOption.title"
                                            [erroFill]="emailOption.erroFill" [erroRequired]="emailOption.erroRequired"
                                            [isRequired]="emailOption.isRequired" [isDisabled]="emailOption.isDisabled"
                                            [minLength]="emailOption.minLength" [maxLength]="emailOption.maxLength"
                                            [hasErrorResponse]="emailOption.hasErrorResponse"></app-input-email>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="w-full">
                                        <p-button label="Enviar código" severity="primary"
                                            styleClass="w-full custom-h-full " (onClick)="sendCodeToEmail()"
                                            [appLoadingSpinner]="isLoadingSendCodeToEmail" />
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>

                        <p-step-panel [value]="2">
                            <ng-template #content let-activateCallback="activateCallback">
                                <div class="mb-3">
                                    <div class="w-full">
                                        <div class="text-1xl mb-2 text-center">
                                            Digite o código de 4 dígitos enviado para
                                            seu e-mail
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="w-full">
                                        <app-pin-code [formControl]="pin"></app-pin-code>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="w-full">
                                        <p-button label="Validar codigo pin" severity="primary"
                                            styleClass="w-full custom-h-full " styleClass="w-full custom-h-full"
                                            (onClick)="validatePin()" [appLoadingSpinner]="isLoadingValidatePin" />
                                    </div>
                                </div>
                                <div class="col-12 border-top-1 text-200 mt-6 mb-4"></div>
                                <div class="mb-3">
                                    <div class="w-full">
                                        <p-button label="Voltar" severity="secondary"
                                            styleClass="w-full custom-h-full button-option"
                                            (onClick)="activateCallback(1)">
                                            <i class="pi pi-arrow-left" style="font-size: 1rem"></i>
                                        </p-button>
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>

                        <p-step-panel [value]="3">
                            <ng-template #content let-activateCallback="activateCallback">
                                <div class="mb-3">
                                    <div class="w-full">
                                        <app-input-password [formControl]="passwordControl"
                                            [title]="passwordOption.title" [erroFill]="passwordOption.erroFill"
                                            [erroRequired]="passwordOption.erroRequired"
                                            [isRequired]="passwordOption.isRequired"
                                            [isDisabled]="passwordOption.isDisabled"
                                            [minLength]="passwordOption.minLength"
                                            [maxLength]="passwordOption.maxLength"
                                            [hasErrorResponse]="passwordOption.hasErrorResponse"></app-input-password>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="w-full">
                                        <p-button label="Entrar" severity="primary" styleClass="w-full custom-h-full "
                                            (onClick)="resetPassword()" [appLoadingSpinner]="isLoadingResetPassword" />
                                    </div>
                                </div>
                                <div class="col-12 border-top-1 text-200 mt-6 mb-4"></div>
                                <div class="mb-3">
                                    <div class="w-full">
                                        <p-button label="Voltar" severity="secondary"
                                            styleClass="w-full custom-h-full button-option"
                                            (onClick)="activateCallback(2)">
                                            <i class="pi pi-arrow-left" style="font-size: 1rem"></i>
                                        </p-button>
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>
                    </p-step-panels>
                </p-stepper>








            </div>
        </div>
    </div>
    <div class="col-12 p-0 m-0">
        <app-footer [showTextPrivacyAndPolicy]="false" [link]="signUpRouterLink" text="Não tem uma conta?"
            redirectText="Inscreva-se"></app-footer>
    </div>
</div>