<div class="flex align-content-between flex-wrap min-h-screen">
    <app-header></app-header>
    <div class="flex align-items-center justify-content-center w-full">
        <div>
            <div class="pl-4 pr-4 w-full sm:w-30rem">
                <div class="text-center mb-5">
                    <div class="text-900 text-4xl font-medium mb-2">Redefinir senha</div>
                    <div class="text-1xl mb-2">Digite o código de 4 dígitos enviado para seu e-mail</div>
                </div>
                <div class="mb-3">
                    <div class="w-full">
                        <p-button label="Enviar código" variant="text" severity="info"
                            styleClass="w-full custom-h-full" />
                    </div>
                </div>
                <div class="col-12 border-top-1 text-200 pb-4"></div>
                <div class="mb-3">
                    <div class="w-full">
                        <p-inputotp [formControl]="pin" [integerOnly]="true" [length]="4" size="large"
                            styleClass="w-full custom-h-full custom-pin" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="w-full">
                        <p-button label="Não recebeu o código?" variant="text" severity="secondary"
                            styleClass="w-full custom-h-full button-link-option" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="w-full">
                        <app-input-primary [formControl]="senhaFormControl" [title]="senhaFormOption.title"
                            [erroFill]="senhaFormOption.erroFill" [erroRequired]="senhaFormOption.erroRequired"
                            [isRequired]="senhaFormOption.isRequired" [isDisabled]="senhaFormOption.isDisabled"
                            [minLength]="senhaFormOption.minLength"
                            [maxLength]="senhaFormOption.maxLength"></app-input-primary>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="w-full">
                        <p-button label="Entrar" severity="primary" styleClass="w-full custom-h-full " />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 p-0 m-0">
        <app-footer [showTextPrivacyAndPolicy]="false" [link]="signUpRouterLink" text="Não tem uma conta?"
            redirectText="Inscreva-se"></app-footer>
    </div>
</div>