<div class="border-top-1 text-200 p-3 bg-gray-50">
    <div class="text-center">
        <div class="text-900 text-1xl font-medium">
            {{ text }}
            <span class="txt-accent font-bold cursor-pointer" [routerLink]="link">
                {{ redirectText }}
            </span>
        </div>
    </div>
</div>
<div
    class="col-12 bg-black p-3 md:p-6 lg:p-6 flex flex-column gap-3 md:gap-0 lg:gap-0 md:flex-row lg:flex-row md:justify-content-between lg:justify-content-between align-items-center">
    <app-language-select></app-language-select>
    <div class="txt-secondary">© {{year}} azjob</div>
</div>