@import '../color-tokens.scss';

.my-app-dark {
  --p-background-color: #000 !important;
  --p-background-color-inverse: #fff !important;
  --p-accent-color: #ff2d57 !important;
  --p-primary-color: #ff2d57 !important;
  --p-secondary-color: #1e1e1e !important;
  --p-secondary-bold-color: #1e1e1e !important;
  --p-screen-color: #000 !important;
  --p-danger-color: #dc2626 !important;
  --p-text-color: #fff;

  /*
    button accent(info)
  */
  --p-button-info-color: #ffffff;
  --p-button-info-hover-color: #ffffff;
  --p-button-info-active-color: var(--p-white-color);
  --p-sky-50: #790524;
  --p-sky-100: #9f0730;
  --p-sky-200: #ab0733;
  --p-sky-300: #d0063c;
  --p-sky-400: #ff2d57;
  --p-sky-500: #ff2d57;
  --p-sky-600: #d0063c;
  --p-sky-700: #ab0733;
  --p-sky-800: #9f0730;
  --p-sky-900: #790524;
  --p-sky-950: #500724;

  .p-button-text.p-button-info:hover {
    background: #ffffff00;
    border-color: #ff2d57;
    color: var(--p-button-text-info-color);
  }


  /*
    button primary
  */
  --p-button-primary-color: #ffffff;
  --p-button-primary-background: var(--p-primary-color);
  --p-button-primary-hover-background: var(--p-sky-300);
  --p-button-primary-active-background: var(--p-sky-200);
  --p-button-primary-border-color: var(--p-primary-color);
  --p-button-primary-hover-border-color: var(--p-sky-200);
  --p-button-primary-active-border-color: var(--p-sky-200);
  --p-button-primary-hover-color: var(--p-white-color);
  --p-button-primary-active-color: var(--p-white-color);


  /*
    button primary arrow
  */
  .button-arrow-primary.p-button {
    color: var(--p-primary-color);
  }

  .button-arrow-primary.p-button:hover {
    color: var(--p-primary-color);
  }

  /* 
    Input Text
  */
  --p-inputtext-border-color: var(--p-accent-color) !important;
  --p-inputtext-color: #ffffff !important;
  --p-inputtext-filled-background: var(--p-secondary-color) !important;
  --p-inputtext-filled-focus-background: var(--p-screen-color) !important;
  --p-inputtext-border-radius: 5px !important;
  --p-inputtext-placeholder-color: #9f9f9f !important;
  --p-inputtext-focus-border-color: var(--p-accent-color) !important;
  --p-inputtext-background: var(--p-form-field-background);
  --p-inputtext-disabled-background: var(--p-secondary-color);
  --p-inputtext-filled-hover-background: var(--p-secondary-color) !important;
  --p-inputtext-hover-border-color: var(--p-accent-color);
  --p-inputtext-invalid-border-color: var(--p-form-field-invalid-border-color);
  --p-inputtext-disabled-color: var(--p-form-field-disabled-color);
  --p-inputtext-invalid-placeholder-color: var(--p-form-field-invalid-placeholder-color);
  --p-inputtext-shadow: var(--p-form-field-shadow);
  --p-inputtext-padding-x: var(--p-form-field-padding-x);
  --p-inputtext-padding-y: var(--p-form-field-padding-y);
  --p-inputtext-focus-ring-width: var(--p-form-field-focus-ring-width);
  --p-inputtext-focus-ring-style: var(--p-form-field-focus-ring-style);
  --p-inputtext-focus-ring-color: var(--p-form-field-focus-ring-color);
  --p-inputtext-focus-ring-offset: var(--p-form-field-focus-ring-offset);
  --p-inputtext-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);
  --p-inputtext-transition-duration: var(--p-form-field-transition-duration);
  --p-inputtext-sm-font-size: var(--p-form-field-sm-font-size);
  --p-inputtext-sm-padding-x: var(--p-form-field-sm-padding-x);
  --p-inputtext-sm-padding-y: var(--p-form-field-sm-padding-y);
  --p-inputtext-lg-font-size: var(--p-form-field-lg-font-size);
  --p-inputtext-lg-padding-x: var(--p-form-field-lg-padding-x);
  --p-inputtext-lg-padding-y: var(--p-form-field-lg-padding-y);

  .p-inputtext:enabled:focus-visible {
    border-color: var(--p-accent-color) !important;
    transition: color 0.5s ease;
  }

  input:disabled {
    color: #9f9f9f;
  }

  input:disabled::placeholder {
    color: #9f9f9f;
  }

  .p-inputtext:enabled:focus-visible::placeholder {
    color: #9f9f9f;
    transition: color 0.5s ease;
  }

  .input-icon-field {
    color: #9f9f9f !important;
    transition: color 0.5s ease;
  }

  .select-custom::placeholder {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: bold;
  }

  /*
    Toggle Switch
  */
  --p-toggleswitch-background: var(--p-secondary-bold-color);
  --p-toggleswitch-disabled-background: #121212;
  --p-toggleswitch-hover-background: var(--p-secondary-bold-color);
  --p-toggleswitch-checked-background: var(--p-primary-color);
  --p-toggleswitch-checked-hover-background: var(--p-primary-color);
  --p-toggleswitch-handle-background: #fff;
  --p-toggleswitch-handle-disabled-background: #434343;
  --p-toggleswitch-handle-hover-background: #fff;
  --p-toggleswitch-handle-checked-background: #fff;
  --p-toggleswitch-handle-checked-hover-background: #fff;
  --p-toggleswitch-handle-color: var(--p-surface-900);
  --p-toggleswitch-handle-hover-color: var(--p-primary-color);
  --p-toggleswitch-handle-checked-color: var(--p-primary-color);
  --p-toggleswitch-handle-checked-hover-color: var(--p-primary-color);

  /* 
    Toggle Button
  */
  --p-togglebutton-background: var(--p-secondary-bold-color);
  --p-togglebutton-border-color: var(--p-secondary-bold-color);
  --p-togglebutton-color: #fff;
  --p-togglebutton-hover-color: #fff;
  --p-togglebutton-checked-background: var(--p-primary-color);
  --p-togglebutton-checked-color: var(--p-white-color);
  --p-togglebutton-checked-border-color:var(--p-primary-color);
  --p-togglebutton-disabled-background: #121212;
  --p-togglebutton-disabled-border-color: #121212;
  --p-togglebutton-disabled-color: #434343;
  --p-togglebutton-invalid-border-color: var(--p-form-field-invalid-border-color);
  --p-togglebutton-focus-ring-width: var(--p-form-field-focus-ring-width);
  --p-togglebutton-focus-ring-style: var(--p-form-field-focus-ring-style);
  --p-togglebutton-focus-ring-color: var(--p-form-field-focus-ring-color);
  --p-togglebutton-focus-ring-offset: var(--p-form-field-focus-ring-offset);
  --p-togglebutton-focus-ring-shadow: var(--p-form-field-focus-ring-shadow);
  --p-togglebutton-transition-duration: var(--p-form-field-transition-duration);
  --p-togglebutton-sm-font-size: var(--p-form-field-sm-font-size);
  --p-togglebutton-sm-padding: 0.5rem 0.75rem;
  --p-togglebutton-lg-font-size: var(--p-form-field-lg-font-size);
  --p-togglebutton-lg-padding: 0.75rem 1.25rem;
  --p-togglebutton-icon-color: #fff;
  --p-togglebutton-icon-hover-color: #fff;
  --p-togglebutton-icon-checked-color: var(--p-white-color);
  --p-togglebutton-icon-disabled-color: #434343;
  --p-togglebutton-content-left: 0.25rem;
  --p-togglebutton-content-top: 0.25rem;
  --p-togglebutton-content-checked-background: transparent;
  --p-togglebutton-content-checked-shadow: none;
  --p-togglebutton-hover-background: var(--p-secondary-bold-color);

  /* 
    Checkbox Button
  */
  --p-checkbox-disabled-background: #121212;
  --p-checkbox-checked-disabled-border-color: #121212;
  --p-checkbox-icon-disabled-color: #434343;
  --p-checkbox-icon-checked-color: #fff;
  --p-checkbox-icon-checked-hover-color: #fff;

  label {
    color: #b0b0b0;
  }

  body {
    background-color: var(--p-background-color);
  }
}