<div class="container p-2  md:p-4 lg:p-4">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-6">
      <p-iconfield class="w-full">
        <input type="text" pInputText id="firstname" placeholder="Nome" pSize="large" class="w-full" #firstname />
        <p-inputicon *ngIf="firstname.value" styleClass="inputIconTop">
          <p-button (click)="firstname.value = ''" [rounded]="true" severity="primary" styleClass="p-0"
            [disabled]="isDisabled">
            <i class="pi pi-times" style="font-size: 10px; padding: 5px"></i>
          </p-button>
        </p-inputicon>
      </p-iconfield>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <p-iconfield class="w-full">
        <input type="text" pInputText [(ngModel)]="value" placeholder="Email" pSize="large" class="w-full" id="email"
          [disabled]="isDisabled" #email />
        <p-inputicon *ngIf="email.value" styleClass="inputIconTop">
          <p-button (click)="email.value = ''" [rounded]="true" severity="primary" styleClass="p-0"
            [disabled]="isDisabled">
            <i class="pi pi-times" style="font-size: 10px; padding: 5px"></i>
          </p-button>
        </p-inputicon>
      </p-iconfield>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <label for="firstname">Nome</label>
      <p-iconfield class="w-full">
        <input type="text" pInputText id="nome" pSize="large" class="w-full" [disabled]="isDisabled" #nome />
        <p-inputicon *ngIf="nome.value" styleClass="inputIconTop">
          <p-button (click)="nome.value = ''" [rounded]="true" severity="primary" styleClass="p-0"
            [disabled]="isDisabled">
            <i class="pi pi-times" style="font-size: 10px; padding: 5px"></i>
          </p-button>
        </p-inputicon>
      </p-iconfield>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <label for="username">Email</label>
      <p-iconfield class="w-full">
        <input id="username" pInputText [(ngModel)]="value" pSize="large" class="w-full" [disabled]="isDisabled"
          #emaillabel />
        <p-inputicon *ngIf="emaillabel.value" styleClass="inputIconTop">
          <p-button (click)="emaillabel.value = ''" [rounded]="true" severity="primary" styleClass="p-0"
            [disabled]="isDisabled">
            <i class="pi pi-times" style="font-size: 10px; padding: 5px"></i>
          </p-button>
        </p-inputicon>
      </p-iconfield>
      <small class="err-small" id="username-help">Enter your username to reset your password.</small>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <p-iconfield>
        <p-inputicon>
          <i class="pi pi-calendar-clock input-icon-field"></i>
        </p-inputicon>
        <input type="text" pInputText id="input" class="select-custom w-full" pSize="large" type="text"
          placeholder="Hoje" [pAutoFocus]="false" [fluid]="true" [disabled]="isDisabled" />
        <p-inputicon>
          <i class="pi pi-angle-down input-icon-field"></i>
        </p-inputicon>
      </p-iconfield>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <p-iconfield>
        <p-inputicon>
          <i class="pi pi-user input-icon-field"></i>
        </p-inputicon>
        <input type="text" pInputText id="input" class="select-custom w-full" pSize="large" readonly type="text"
          placeholder="Pessoas" [pAutoFocus]="false" [fluid]="true" [disabled]="isDisabled" />
        <p-inputicon>
          <i class="pi pi-angle-down input-icon-field"></i>
        </p-inputicon>
      </p-iconfield>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <p-button label="Novo usuario" (onClick)="isDisabled = !isDisabled" severity="info" styleClass="w-full h-full"
        [appLoadingSpinner]="isLoading" />
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <p-button label="Aceitar" [disabled]="isDisabled" (onClick)="isLoading = !isLoading" severity="primary"
        styleClass="w-full h-full " />
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <p-button icon="pi pi-arrow-left" [disabled]="isDisabled" [rounded]="true" [text]="true" severity="primary"
        styleClass="button-arrow-primary" [appLoadingSpinner]="isLoading" />&nbsp;

      <p-button icon="pi pi-arrow-left" [disabled]="isDisabled" [rounded]="true" severity="secondary"
        styleClass="button-arrow-secondary" [appLoadingSpinner]="isLoading" />&nbsp;

      <p-button [rounded]="true" [disabled]="isDisabled" severity="primary" styleClass="h-full"
        [appLoadingSpinner]="isLoading">&nbsp; Seguinte <i class="pi pi-arrow-right" style="font-size: 1rem"></i>
      </p-button>&nbsp;

      <p-button label="Cookies" [disabled]="isDisabled" variant="text" severity="secondary"
        styleClass="h-full button-link-option" [appLoadingSpinner]="isLoading" />&nbsp;
      <p-button label="Rejeitar" [disabled]="isDisabled" severity="secondary" styleClass="h-full button-option"
        [appLoadingSpinner]="isLoading" />&nbsp;
      <p-button label="Aceitar" [disabled]="isDisabled" severity="primary" styleClass="h-full"
        [appLoadingSpinner]="isLoading" />&nbsp;
      <p-button label="Encerrar sessão" [disabled]="isDisabled" variant="text" severity="info" styleClass="h-full"
        [appLoadingSpinner]="isLoading" />&nbsp;

      <p-button label="Next" [disabled]="isDisabled" severity="info" styleClass="h-full"
        [appLoadingSpinner]="isLoading" />

      &nbsp;
    </div>
    <div class="col-12 md:col-6 lg:col-6 flex flex-row flex-wrap">
      <div class="mr-2">
        <p-toggleswitch [(ngModel)]="checked" [disabled]="isDisabled" />
      </div>
      <div class="mr-2">
        <p-checkbox [disabled]="isDisabled" inputId="size_large" name="size" value="Large" size="large" />
      </div>
      <div class="mr-2">
        <form [formGroup]="formGroup">
          <p-selectbutton [disabled]="isDisabled" [options]="stateOptions" formControlName="value" optionLabel="label"
            optionValue="value" />
        </form>
      </div>
      <div class="mr-2">
        <p-togglebutton [disabled]="isDisabled" onLabel="Locked" offLabel="Unlocked" onIcon="pi pi-check"
          offIcon="pi pi-times" onIcon="pi pi-lock" offIcon="pi pi-lock-open" styleClass="w-36"
          ariaLabel="Do you confirm" />
      </div>
      <div class="mr-2">
        <p-selectbutton [disabled]="isDisabled" [options]="paymentOptions" [(ngModel)]="value" [multiple]="true"
          optionLabel="name" optionValue="value" />
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <p-button [disabled]="isDisabled" label="Toggle Dark Mode" (onClick)="toggleDarkMode()" />
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <i class="pi pi-check" style="font-size: 1rem"></i>
      <i class="pi pi-times" style="font-size: 1.5rem"></i>
      <i class="pi pi-search" style="font-size: 2rem"></i>
      <i class="pi pi-user" style="font-size: 2.5rem"></i>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <span class="custom-icon">home</span>
      <span class="custom-icon">search</span>
      <span class="custom-icon">add_circle</span>
      <span class="custom-icon">arrow_back</span>
      <span class="custom-icon">add_box</span>
      <span class="custom-icon">translate</span>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div
        class="flex flex-column align-items-center justify-content-center  bg-secondary border-round-xl w-6rem h-6rem gap-1">
        <div class="mt-2"><i class="pi pi-bookmark-fill" style="font-size: 2.5rem"></i></div>
        <div>Atividade</div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6"></div>
    <div class="col-12 md:col-6 lg:col-6"></div>
    <div class="col-12 md:col-6 lg:col-6"></div>
    <div class="col-12 md:col-6 lg:col-6"></div>
    <div class="col-12 md:col-6 lg:col-6"></div>
    <div class="col-12 md:col-6 lg:col-6"></div>
    <div class="col-12 md:col-6 lg:col-6"></div>
    <div class="col-12 md:col-6 lg:col-6"></div>
    <div class="col-12 md:col-6 lg:col-6"></div>
    <div class="col-12 md:col-6 lg:col-6"></div>
    <div class="col-12 md:col-6 lg:col-6"></div>
  </div>
</div>