.card-option-account {
  width: 100px;
  height: 100px;
  background-color: var(--p-secondary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 5px;
}

.card-suggestions {
  background-color: var(--p-secondary-color);
  border-radius: 10px;
  padding: 25px 15px 25px 15px;
  display: flex;
  .title {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
  }

  .description {
    padding-bottom: 10px;
  }
}
