<app-header></app-header>
<div class="flex align-content-between flex-wrap min-h-screen">
    <div class="flex align-items-center justify-content-center w-full">
        <div class="mt-5">
            <div class="p-4 w-full sm:w-30rem">
                <div class="text-center mb-5">
                    <div class="text-900 text-4xl font-medium mb-2">Cadastra-se no <span
                            class="text-4xl font-bold lilita-one-regular">AZJob</span>
                    </div>
                    <div class="text-500 text-1xl mb-2">Crie um perfil, siga outras contas, faça seus próprios vídeos e
                        muito mais.</div>
                </div>
                <div class="mt-3">
                    <div class="w-full">
                        <app-button label="E-mail e senha" [link]="signUpRouterLink">
                            <i class="pi pi-user black text-1xl font-bold" style="margin-left: 2px"></i>
                        </app-button>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="w-full">
                        <app-button label="Faça login com o Google">
                            <img src="https://signin.pipefy.com/resources/wuk6r/login/pipefy/img/google.svg">
                        </app-button>
                    </div>
                </div>
            </div>

            <div class="w-full sm:w-30rem pl-5 pr-4 ">
                <div class="text-center text-500 text-xs mb-2">
                    By continuing with an account located in Brazil, you agree to our
                    Terms of Service and acknowledge that you have read our Privacy Policy.
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 p-0 m-0">
        <app-footer [link]="signInRouterLink" text="Já sou cadastrado," redirectText="quero entrar!"></app-footer>
    </div>
</div>