<div class="stepper-container">
    <div class="step-content">
        <div [class.bg-gray-50]="default == 'en-US'" class="flex hover:bg-gray-100 border-round p-2 cursor-pointer"
            (click)="selected('en-US')">
            <div class="col-11 m-0 p-0">
                <div class="m-0 p-0 pl-2 flex justify-content-start align-items-center pt-1 font-bold h-full">
                    English
                </div>
            </div>
            <div class="col-1 m-0 p-0">
                @if(default == 'en-US'){
                <div class="flex justify-content-center align-items-center p-0 h-full">
                    <i class="pi pi-check" style="font-size: 1rem"></i>
                </div>
                }
            </div>
        </div>
        <div [class.bg-gray-50]="default == 'pt-BR'" class="flex hover:bg-gray-100 border-round p-2 cursor-pointer"
            (click)="selected('pt-BR')">
            <div class="col-11 m-0 p-0">
                <div class="m-0 p-0 pl-2 flex justify-content-start align-items-center pt-1 font-bold h-full">
                    Português
                </div>
            </div>
            <div class="col-1 m-0 p-0">
                @if(default == 'pt-BR'){
                <div class="flex justify-content-center align-items-center p-0 h-full">
                    <i class="pi pi-check" style="font-size: 1rem"></i>
                </div>
                }
            </div>
        </div>

        <div [class.bg-gray-50]="default == 'es-CO'" class="flex hover:bg-gray-100 border-round p-2 cursor-pointer"
            (click)="selected('es-CO')">
            <div class="col-11 m-0 p-0">
                <div class="m-0 p-0 pl-2 flex justify-content-start align-items-center pt-1 font-bold h-full">
                    Español
                </div>
            </div>
            <div class="col-1 m-0 p-0">
                @if(default == 'es-CO'){
                <div class="flex justify-content-center align-items-center p-0 h-full">
                    <i class="pi pi-check" style="font-size: 1rem"></i>
                </div>
                }
            </div>
        </div>
    </div>
</div>